@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 20px;
}

#h1 {
  background: url("https://images.pexels.com/photos/4722090/pexels-photo-4722090.jpeg?auto=compress&cs=tinysrgb&w=400");
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Ubuntu", sans-serif;
  color: transparent;
  font-size: 80px;
  text-align: center;
}

h1::after {
  content: " (●'◡'●)";
  text-align: center;
}

button {
  height: 40px;
  width: 90px;
}

.buttonCardBG {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 190px;
  background-color: rgb(79, 137, 225);
}
