@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 20px;
}

/* body {
  background: linear-gradient(to right, #e5989b, #415a77, #415a77, #e5989b);
} */
#h1 {
  background: url("https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&w=400");
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Ubuntu", sans-serif;
  color: transparent;
  font-size: 80px;
  text-align: center;
}

h1::after {
  content: " (●'◡'●)";
}

button {
  height: 40px;
  width: 90px;
}
